.column {
    float: left;
    width: 50%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    background-color: rgba(126, 126, 126, 0.645);
    margin: 20px;
}

.qs{
    margin:20px;
    font-size: 1.25rem;
    white-space: pre-wrap;
}

.code{
    border: 2px solid grey;
    margin: 15px;
}